.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: #f8f9fa;
}
.titulo{
  color: #005cbb;
  font-size: 35px;
  font-weight: initial;
  margin-left: 5px;
}
.buttons {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}
