<div class="container">
  <mat-toolbar class="header-container" color="primary">
    <div style="display: flex; align-items: center;">
      <img src="assets/imagem/LogoBookly.png" alt="Logo Bookly" style="max-height: 50px; width: auto;">
      <a href="/" class="titulo">
        <span>Bookly</span>
      </a>
    </div>
    <div class="buttons" style="margin-left: auto;">
      <button mat-raised-button routerLink="">
        <mat-icon>book</mat-icon> Livros
      </button>
      <button mat-raised-button routerLink="create">
        <mat-icon>create</mat-icon> Cadastrar Livro
      </button>
    </div>
  </mat-toolbar>

  <div class="principal">
    <router-outlet></router-outlet>
  </div>
</div>
